<div ng-show="tab == 'map'">
    <div ng-include="'app/indicator/indicator.map.html'"></div>
</div>
<div ng-if="tab == 'graph'">
    <div ng-include="'app/indicator/indicator.graph.html'" onload="init['graph']()"></div>
</div>
<div ng-show="tab == 'table'">
    <div ng-include="'app/indicator/indicator.table.html'" onload="init['table']()"></div>
</div>

<div class="tabs tabs-icon-top" button-bar>
      <a ng-click="setTab('map')" class="tab-item {{tab == 'map' ? 'active' : ''}}">
        <i class="icon ion-map"></i>
        Carte
      </a>
      <a ng-click="setTab('graph')" class="tab-item {{tab == 'graph' ? 'active' : ''}}">
        <i class="icon ion-ios-pie"></i>
        Graphique
      </a>
      <a ng-click="setTab('table')" class="tab-item {{tab == 'table' ? 'active' : ''}}">
        <i class="icon ion-ios-book"></i>
        Tableau
      </a>
</div>