<ion-view id="side-menu" class="custom-side-menu" ng-click="toggleMenu()" ng-show="isMenuVisible">
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-checkbox" ng-if="markers.length">
            <label class="checkbox">
                <input type="checkbox"  ng-click="toggleMarker()">
            </label>
            Afficher les marqueurs 
        </ion-item>
        <ion-item class="item-icon-left" ng-click="addAlert()">
            <i class="ion-information-circled icon"> </i>
            Ajouter une alerte
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>