<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="GIS Mobile - Menu principal">
    <ion-content >
        <!-- The content of the page -->
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-icon-left item-icon-right" href="#{{item.link}}">
            <span class="icon {{item.icon}}"></span>
            {{item.name}} 
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>
          <ion-item class="item item-icon-left item-icon-right" ng-click="login()">
            <span class="icon"></span>
                Test login
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>
          <ion-item class="item item-icon-left item-icon-right" ng-click="testGet()">
            <span class="icon"></span>
                Test1
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>
          <ion-item class="item item-icon-left item-icon-right" ng-click="testGetNoAccess()">
            <span class="icon"></span>
                Test2
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>
          <ion-item class="item item-icon-left item-icon-right" ng-click="testIndex()">
            <span class="icon"></span>
                Test2
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>

          <ion-item class="item item-icon-left item-icon-right" ng-click="testPreloadAlerts()">
            <span class="icon"></span>
                Test preload ...
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>
          
          <ion-item class="item item-icon-left item-icon-right" ng-click="testReloadStructure()">
            <span class="icon"></span>
                Test reload structure ...
            <span class="icon ion-ios-arrow-right"></span>
          </ion-item>

        </ion-list>
    </ion-content>
</ion-view>

